{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}

{% block content %}
    {% set title = site_name|split(' ') %}
    <div class="container">
	<div class="o-header container__row">

        <div class="m-header-decoration container__col-md-3 container__col-2">
            <img src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
            <img class="a-header-img__second" src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
            <img class="a-header-img__third" src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
        </div>

        {# {% if site_logo %}
            <a href="{{ path('<front>') }}" rel="home">
                <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high"/>
            </a>
        {% endif %} #}

        <div class="m-header container__col-md-6 container__col-sm-8 container__col-12">
            {% for item in title %}
                {% if loop.first %}
                    <a href="{{ path('<front>') }}" rel="home" class="a-accent">{{ item }}</a>
                {% else %}
                    <a href="{{ path('<front>') }}" rel="home">{{ item }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="m-header-decoration container__col-md-3 container__col-2">
            <img src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
            <img class="a-header-img__second" src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
            <img class="a-header-img__third" src="/{{ directory }}/assets/dist/img/png/star.svg" alt="">
        </div>
    </div>
    </div>

{% endblock %}
